[Unit]
Description=Service for Local Users FTP server
After=network.target

[Service]
ExecStart=/usr/sbin/vsftpd /etc/vsftpd/ftp.conf
ExecReload=/bin/kill -HUP $MAINPID
ExecStartPre=/bin/mkdir -p /var/run/vsftpd/empty
KillSignal=SIGTERM
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target