[Unit]
Description=Service for Anonymous FTP server
After=network.target

[Service]
ExecStart=/usr/bin/vsftpd /etc/vsftpd/mirror.conf
ExecReload=/bin/kill -HUP $MAINPID
ExecStartPre=/bin/mkdir -p /var/run/vsftpd/empty
KillSignal=SIGTERM
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target